@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff") url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
}

.content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/chess_bg.webp) no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/chess_bg.webp) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/chess_bg.webp) no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  width: 100%;
}

.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  font-weight: bold;
}

.navbar__logo {
  padding: 0 50px;
}

.navbar__items {
  float: right;
  margin-right: 20px;
}

.navbar__item {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navbar__item .navbar__link {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navbar__item .navbar__link:hover {
  background: #1b9bff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.navbar__item #auth_link {
  background: #44b84d;
}

.navbar__item #auth_link:hover {
  background: #27692d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.navbar__link-active {
  background: #1b9bff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.login-form {
  width: 400px;
  padding: 40px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  text-align: center;
  border-radius: 12px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  font-size: 18px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.login-form h1 {
  text-transform: uppercase;
  font-weight: 500;
}

.login-form input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background: #2ecc71;
}

.register-box {
  top: -15%;
}

footer {
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  width: 100vw;
  color: #fff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content .socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0 10px 0;
}

.footer-content .socials li {
  margin: 0 10px;
}

.footer-content .socials a {
  text-decoration: none;
  color: white;
}

.footer-content .socials a i {
  font-size: 1.5rem;
}

.footer-content .socials a:hover {
  color: aqua;
}

.footer-content h5 {
  color: #829aa8;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }

  .navbar__item .navbar__link {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav .navbar__items {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 1;
  }

  nav .navbar__items .navbar__item {
    display: block;
    padding: 12px 0;
    background: rgba(57, 53, 88, 0.9);
    line-height: 30px;
  }

  nav .navbar__items .navbar__item .navbar__link {
    font-size: 20px;
  }

  nav .navbar__items .navbar__item .navbar__link:hover {
    background: none;
    color: #0082e6;
  }

  nav .navbar__items .navbar__item .navbar__link-active {
    background: none;
    color: #0082e6;
  }

  nav #check:checked ~ .navbar__items {
    left: 0;
  }
}